.techDiv {
  @media (max-width: 992px) {
    width: 100%;
    flex-direction: column;
    p {
      text-align: center;
    }
  }
  display: flex;
  align-items: center;
  justify-content: space-between;
}
